{
    "racktables": {
        "list_query":[
            {
                "userpwd": "username:password",
                "host": "http:\/\/your.racktables.host",
                "list_api": "\/racktables\/index.php?page=depot",
                "host_api": "\/racktables\/index.php?page=object&tab=default&object_id=",
                "host_filters": {
                    "some": {
                        "filter": ["\/your_regexp\/"],
                        "host_vars":{
                            "ansible_port": [22, 22022],
                            "ansible_host": "ADDRESS" 
                        },
                        "check_ansible_port": true
                    }
                }
            }
        ],
        "host_query":[
            {
                "userpwd": "username:password",
                "host": "http:\/\/your.racktables.host",
                "list_api": "\/racktables\/index.php?page=depot",
                "host_api": "\/racktables\/index.php?page=object&tab=default&object_id=",
                "host_vars":{
                    "ansible_port": [22, 22022],
                    "ansible_host": "ADDRESS" 
                },
                "check_ansible_port": true
            }
        ]
    }
}